@model UniversityApp.Core.DomainEntities.Teacher

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_SecretariesLayout.cshtml";
}


<h4 style="text-align: center;">Are you sure you want to delete this?</h4>
    <div class="delete-teacher-container">
        <h4>Teachers</h4>
        <hr />
        <dl class="row justify-content-center delete-teacher-row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cnp)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Cnp)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Degree)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Degree)
            </dd>
        </dl>

        <form asp-action="Delete" class="delete-teacher-form">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
