@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_TeachersLayout.cshtml";
}


<partial name="_LoggedInPopupPartial" />

@{ if (Model != null)
    {
        <div class="jumbotron">
            <h3 style="text-align: center;">Personal data</h3>
            <hr />
            <h4>First name:  @Model.FirstName</h4>
            <h4>Last name: @Model.LastName</h4>
            <h4>CNP: @Model.Cnp</h4>
            <h4>Phone number: @Model.PhoneNumber</h4>
            <h4>Email: @Model.Email</h4>
            <h4>Degree: @Model.Degree</h4>
        </div>
    }
}
